<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Algostudy</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<style>
    .index-image {
        width: 100%;
        height: 100%;
        /*text-align: center;*/
        /*max-width: 1170px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .index-description{
        padding-top: 60px;
        padding-bottom: 60px;
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .index-description-div{
        margin-top: 100px;
        margin-bottom: 50px;
    }
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul sec:authorize="isAuthenticated()" th:replace="fragments/sidebar :: sidebar"/>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->

            <!-- Topbar -->
            <nav th:replace="fragments/header :: header"></nav>
            <!-- End of Topbar -->

            <div>
                <a href="#"><img class="index-image" src="https://upload.acmicpc.net/737f9cc7-e299-49d6-a7d8-0bc117c2835e/"></a>
            </div>
                <span class="text-center margin-bottom-50 index-description-div">
                    <h2 class="title-v2 title-center"><span style="color: #4e73df">ALG</span>orithm <span style="color: #4e73df">O</span>nline <span style="color: #4e73df">STUDY</span></h2>
                    <p class="space-lg-hor" style="margin-top: 20px">프로그래밍 문제를 풀고 온라인으로 스터디를 진행할수 있는 곳입니다.</p>
                </div>
            </div>

            <!-- Begin Page Content -->
<!--            <div class="container-fluid">-->

<!--                &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--                <div class="d-sm-flex align-items-center justify-content-between mb-4"  >-->
<!--                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
<!--                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
<!--                </div>-->

<!--                &lt;!&ndash;                    &lt;!&ndash; Content Row &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div class="row">&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-3 col-md-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card border-left-primary shadow h-100 py-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="row no-gutters align-items-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                Earnings (Monthly)</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col-auto">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-3 col-md-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card border-left-success shadow h-100 py-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="row no-gutters align-items-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                Earnings (Annual)</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col-auto">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-3 col-md-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card border-left-info shadow h-100 py-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="row no-gutters align-items-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks&ndash;&gt;-->
<!--                &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="row no-gutters align-items-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                <div class="col-auto">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                                <div class="col">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                    <div class="progress progress-sm mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                        <div class="progress-bar bg-info" role="progressbar"&ndash;&gt;-->
<!--                &lt;!&ndash;                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"&ndash;&gt;-->
<!--                &lt;!&ndash;                                                            aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col-auto">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Pending Requests Card Example &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-3 col-md-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card border-left-warning shadow h-100 py-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="row no-gutters align-items-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">&ndash;&gt;-->
<!--                &lt;!&ndash;                                                Pending Requests</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="col-auto">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-comments fa-2x text-gray-300"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                    &lt;!&ndash; Content Row &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div class="row">&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Area Chart &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-8 col-lg-7">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card shadow mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                &lt;!&ndash; Card Header - Dropdown &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div&ndash;&gt;-->
<!--                &lt;!&ndash;                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="dropdown no-arrow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-labelledby="dropdownMenuLink">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="dropdown-header">Dropdown Header:</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                &lt;!&ndash; Card Body &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="chart-area">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <canvas id="myAreaChart"></canvas>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Pie Chart &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-xl-4 col-lg-5">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card shadow mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                &lt;!&ndash; Card Header - Dropdown &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div&ndash;&gt;-->
<!--                &lt;!&ndash;                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="dropdown no-arrow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-labelledby="dropdownMenuLink">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="dropdown-header">Dropdown Header:</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                &lt;!&ndash; Card Body &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="chart-pie pt-4 pb-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <canvas id="myPieChart"></canvas>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="mt-4 text-center small">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <span class="mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-circle text-primary"></i> Direct&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <span class="mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-circle text-success"></i> Social&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <span class="mr-2">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <i class="fas fa-circle text-info"></i> Referral&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    &lt;!&ndash; Content Row &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div class="row">&ndash;&gt;-->

<!--                &lt;!&ndash;                        &lt;!&ndash; Content Column &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="col-lg-6 mb-4">&ndash;&gt;-->

<!--                &lt;!&ndash;                            &lt;!&ndash; Project Card Example &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card shadow mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-header py-3">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h4 class="small font-weight-bold">Server Migration <span&ndash;&gt;-->
<!--                &lt;!&ndash;                                            class="float-right">20%</span></h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="progress mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h4 class="small font-weight-bold">Sales Tracking <span&ndash;&gt;-->
<!--                &lt;!&ndash;                                            class="float-right">40%</span></h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="progress mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h4 class="small font-weight-bold">Customer Database <span&ndash;&gt;-->
<!--                &lt;!&ndash;                                            class="float-right">60%</span></h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="progress mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="progress-bar" role="progressbar" style="width: 60%"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h4 class="small font-weight-bold">Payout Details <span&ndash;&gt;-->
<!--                &lt;!&ndash;                                            class="float-right">80%</span></h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="progress mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h4 class="small font-weight-bold">Account Setup <span&ndash;&gt;-->
<!--                &lt;!&ndash;                                            class="float-right">Complete!</span></h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="progress">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"&ndash;&gt;-->
<!--                &lt;!&ndash;                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                            &lt;!&ndash; Color System &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="row">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-primary text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Primary&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#4e73df</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-success text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Success&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#1cc88a</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-info text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Info&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#36b9cc</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-warning text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Warning&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#f6c23e</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-danger text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Danger&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#e74a3b</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-secondary text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Secondary&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#858796</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-light text-black shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Light&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-black-50 small">#f8f9fc</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="col-lg-6 mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="card bg-dark text-white shadow">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                            Dark&ndash;&gt;-->
<!--                &lt;!&ndash;                                            <div class="text-white-50 small">#5a5c69</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        <div class="col-lg-6 mb-4">&ndash;&gt;-->

<!--                &lt;!&ndash;                            &lt;!&ndash; Illustrations &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card shadow mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-header py-3">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <div class="text-center">&ndash;&gt;-->
<!--                &lt;!&ndash;                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"&ndash;&gt;-->
<!--                &lt;!&ndash;                                             src="img/undraw_posting_photo.svg" alt="...">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <p>Add some quality, svg illustrations to your project courtesy of <a&ndash;&gt;-->
<!--                &lt;!&ndash;                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a&ndash;&gt;-->
<!--                &lt;!&ndash;                                        constantly updated collection of beautiful svg images that you can use&ndash;&gt;-->
<!--                &lt;!&ndash;                                        completely free and without attribution!</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on&ndash;&gt;-->
<!--                &lt;!&ndash;                                        unDraw &rarr;</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                            &lt;!&ndash; Approach &ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="card shadow mb-4">&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-header py-3">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <div class="card-body">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce&ndash;&gt;-->
<!--                &lt;!&ndash;                                        CSS bloat and poor page performance. Custom CSS classes are used to create&ndash;&gt;-->
<!--                &lt;!&ndash;                                        custom components and custom utility classes.</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <p class="mb-0">Before working with this theme, you should become familiar with the&ndash;&gt;-->
<!--                &lt;!&ndash;                                        Bootstrap framework, especially the utility classes.</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash; /.container-fluid &ndash;&gt;-->

<!--            &lt;!&ndash; End of Main Content &ndash;&gt;-->

            <!-- Footer -->
            <footer th:replace="fragments/footer:: footer" \></footer>

<!--                &lt;!&ndash; End of Footer &ndash;&gt;-->

<!--                &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->
<!--    </div>-->
        <!-- End of Page Wrapper -->

<!--    &lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--    <a class="scroll-to-top rounded" href="#page-top">-->
<!--        <i class="fas fa-angle-up"></i>-->
<!--    </a>-->

<!--    &lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--        aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>-->
<!--                <div class="modal-footer">-->
<!--                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--                    <a class="btn btn-primary" href="login.html">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    </div>
</body>

</html>